{% extends "generic/base.html" %}
{% block title %}
    Reminder Schedules - {{ block.super }}
{% endblock %}
{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}mtrack/stylesheets/layout.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/splits.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/modules.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/tables.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/forms.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/icons.css" />
    <link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}generic/stylesheets/generic.css"/>
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}contact/stylesheets/messages.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}cvs/stylesheets/cvs.css" />
{% endblock %}
{% block javascripts %}
    <script src="{{MEDIA_URL}}generic/javascripts/generic.js" type="text/javascript"></script>
    <script language="javascript" src="{{MEDIA_URL}}cvs/javascripts/jquery.min.js"></script>
    <script language="javascript" src="{{MEDIA_URL}}cvs/javascripts/jquery-ui.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".deleteSchedule").click(function(){
                var object_id = $(this).attr('object_id');
                if (confirm("Do you really want to delete this reminder?")){
                $.post('/mtrack/schedule/delete/'+object_id+'/');
                $(this).parents('tr').remove();
                }
            });

        });
    </script>
{% endblock %}
