{% extends 'mtrack/mtrack_generic_base.html' %}
{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}mtrack/stylesheets/dataentry.css"/>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}mtrack/stylesheets/ui/ui.all.css"/>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}mtrack/javascripts/jquery-1.7.1.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}mtrack/javascripts/ui.datepicker.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}mtrack/javascripts/dataentry.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}mtrack/javascripts/jquery.validate.min.js"></script>
{% endblock %}
{% block content %}
<div class="module">
	<h2>Data Entry</h2>
	<form name="dataForm" id="dataForm" action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<div id="ddowns">
		<table>
			<tr>
				<td style="vertical-align:middle">Is late Report?:</td>
				<td style="vertical-align:top"><input type="checkbox" name="islate"/></td>
				<td>Submitted By:</td>
				<td><input type="text" name="submitted_by" id="submitted_by" class="itext required"/></td>
			</tr>
			<tr>
				<td>District:</td>
				<td>
					<select name="district" id="district" class="ftext">
						<option value="0">Select District</option>
						{% for l in districts %}
							<option value="{{ l.id }}">{{l.name}}</option>
						{% endfor %}
					</select>
				</td>
				<td>Facility:</td>
				<td>
					<select name="facility" id="facility" class="ftext">
						<option value="0">Select Facility</option>
						{% for l in facilities %}
							<option value="{{ l.id }}">{{l.name}} {{l.type__slug}}</option>
						{% endfor %}
					</select>
				</td>
				<td>Reporter:</td>
				<td>
					<select name="reporter" id="reporter" class="ftext required">
						<option value="">Select Reporter</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Report Type:</td>
				<td>
					<select name="rtype" id="rtype" class="ftext">
						<option value="0">Select Report Type</option>
						<!-- Add other options here manually -->
						{% for l in hmis_reports %}
							<option value="{{ l.keywords }}">{{ l.name }}</option>
						{% endfor %}
					</select>
				</td>
				<td>Report:</td>
				<td>
					<select name="xform" id="xform" class="ftext">
						<option value="0">Select Report</option>
						{% for l in xforms %}
							<option value="{{ l.id }}">{{l.name }} ({{ l.keyword }})</option>
						{% endfor %}
					</select>
				</td>
				<td>Reporting week:</td>
				<!--<td><input name='rdate' id='rdate' readonly="true" class="itext required" type='text'/></td>-->
				<td>
					<select name="rweek" id="rweek" class="ftext required">
						<option value="">Select Reporting Week</option>
						{% for w in weeks %}
							<option value="{{w.week}}">W{{ w.week}}{{ w.range }}</option>
						{% endfor%}
					</select>
				</td>			
			</tr>
		</table>
	</div>
	<br clear="both"/>
	<div id="ffields">
		<table id="xff_table" class="list2">
		</table>
		<br/>
		<div id="fsubmit">
			<div class="buttons">
				<a style="float:left" onclick="$('#dataForm').submit();" href="javascript:void(0);">
    			<img src="{{ MEDIA_URL }}rapidsms_xforms/icons/silk/disk.png" alt=""/> 
    			Save Form
  				</a>
  			</div>
		</div>
	</div>
	</form>
</div>
{% endblock %}