{% extends 'mtrack/mtrack_generic_base.html' %}
{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}mtrack/stylesheets/dataentry.css"/>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}mtrack/stylesheets/ui/ui.all.css"/>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}mtrack/javascripts/jquery-1.7.1.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}mtrack/javascripts/ui.datepicker.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}mtrack/javascripts/schedule.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}mtrack/javascripts/jquery.validate.min.js"></script>
{% endblock %}
{% block content %}
<div class="module">
    <div class="newitem2">

    </div>
    <form name="schedform" id="schedform" method="post" action="" enctype="multipart/form-data">
        <div class="">
            <h2>Location Configuration</h2>
            <table class="">
                <tr>
                    <td>
                        <table>
                            <tr>

                                <td>Location</td>
                                <td style="vertical-align:top">
                                    {{ form.locations }} {{ form.locations.errors }} <br/>
                                    {{ form.non_field_errors }}
                                    {{ form.errors }}

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br/>
            <h2>Recipient Configuration</h2>
            <table class="">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    Users Type/Mode:
                                    {{ form.user_type }} {{ form.locations.errors }}
                                </td>
                                <td>Recipients:</td>
                                <td style="vertical-align:top">
                                    {{ form.group }} {{ form.group.errors }}

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <h2>Missing Report Configuration</h2>
            <table class="">
                <tr>
                    <td>
                        <table>
                            <tr>

                                <td>Xform(s):</td>
                                <td>
                                   {{ form.xforms }} {{ form.xforms.errors }}
                                </td>
                                <td>Expected Reporter:</td>
                                <td>
                                    {{ form.reporter }} {{ form.reporter.errors }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <h2>Reminder Configuration</h2>
            <table class="list2">
                <tr>
                    <td>
                        <h3>Manage Reminder</h3>
                        <table>
                            <tr>
                                <td>Message Setup:</td>
                                <td>
                                    {{ form.setup }} {{ form.setup.errors }}
                                </td>
                            </tr>
                            <tr>
                                <td>Time:</td>
                                <td>
                                    Hour:{{ form.hour }}
                                        &nbsp;Minute:{{ form.minutes }}
                                        </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Start Date:</td>
                                <td>{{ form.start_date }} {{ form.start_date.errors }}</td>
                            </tr>

                            <tr>
                                <td>Message:</td>
                                <td>
                                    {{ form.message }} {{ form.message.errors }}
                                </td>
                            </tr>
                            <tr><td></td>
                                <td><input name="ccount" readonly size="3" id="ccount" class="itext"/>&nbsp; Character Count</td>
                            </tr>
                            <tr id="row-handlers">
                                <td>Handlers:</td>
                                <td>
                                    <select name="handler" id="handler" class="ftext">
                                        <option value="">Select Handler</option>
                                        <option value="non_reporting_facility">Non Reporting Facility</option>
                                        <option value="dht_summary">DHT 033B Reporting Summary</option>
                                        <option value="vht_summary">VHT Summary</option>
                                        <option value="vht_aggregate">VHT Aggregate</option>
                                        <option value="stockouts_facility">Stocked-out Facilities</option>
                                        <option value="stockouts_vht">VHTs sending Stockouts</option>
                                    </select>
                                </td>
                            </tr>
                            <tr id="row-args"><td>Arguments:</td><td><input name="args" id="args" class="itext"/></td></tr>
                        </table>
                    </td>
                    <td>
                        <h3>Repeat Intervals</h3>
                    <table>
                        <tr><td>End Date:</td>
                            <td>{{ form.end_date }}</td>
                        </tr>
                        <tr>
                            <td>Interval:</td>
                            <td>
                                {{ form.interval }}
                                <div id="week_num" style="position: relative; visibility: hidden; overflow: scroll; display: none;">
                                    <br/>
                                    {{ form.week_number }}
                                </div>
                            </td>
                        </tr>
                        <tr id="dinter"><td colspan="2">
                            {{ form.repeat_day }}
                        </td></tr>
                </table>
                    </td>
                </tr>
            </table>
            <div style="margin: 0 auto; width: 100%;text-align:center;">
                <input type="submit" name="sbmt" id="sbmt" value="Create Reminder" class="button"/>
            </div>
        </div>
    </form>
</div>
{% endblock %}
