{% load stats_extras %}
<td>&nbsp;
<style type="text/css">
	select,textarea {
		border:1px solid #CCC;
		background-color: #FFFFFF;
		font-size: 90%;
		}
</style>
</td>
<td>
	{% if facilities %}
	<select name='health_facility'>
		<option value=''>-----</option>
		
		{% for f in facilities %}
			<option value='{{ f.id }}' {% if f.id  == pk %} selected='selected' {% endif %}>{{ f.name }}</option>
		{% endfor %}
	</select>
	{% endif %}

    {% if report_form.health_facility.errors %}
        <br clear="left"/>
        {{ report_form.health_facility.errors }}
    {% endif %}
</td>

<td>
    {{ report_form.district }}
    {% if report_form.district.errors %}
        <br clear="left"/>
        {{ report_form.district.errors }}
    {% endif %}
</td>

<td>{{ anonymous_report.date }}</td>

<td>
   <ul>
   {% for msg in anonymous_report.messages.all %}
    <span style="font-size: 0.9em;">
    <li>{{ msg.text }}</li>
    </span>
   {% endfor %}
   </ul>
</td>
<td>
	{{ report_form.topic }}
</td>
<td>
	{{ report_form.action }}
</td>

<td>
    {{ report_form.comments }}
    {% if report_form.comments.errors %}
        <br clear="left"/>
        {{ report_form.comments.errors }}
    {% endif %}
</td>

<td>
    <ul>
        {% for resp in anonymous_report.message.responses.values %}
        <li>&lt;&lt; {{ resp.text|truncatewords:10 }}</li>
        {% endfor %}
    </ul>

</td>

<td class="button_col">
    <div class="buttons">
        <a href="javascript:void(0)"
           onclick="$(this).parents('tr').load('../anonymousreports/{{ anonymous_report.pk }}/show/')">
            <img src="{{ MEDIA_URL }}rapidsms/icons/silk/decline.png"/>
        </a>
        <a href="javascript:void(0)"
           onclick="submitForm(this, '../anonymousreports/{{ anonymous_report.pk }}/edit/', $(this).parents('tr'))">
            <img src="{{ MEDIA_URL }}rapidsms/icons/silk/accept.png"/>
        </a>
    </div>
</td>
{% if pk|stringformat:"s"  == '1129' %} GWE {% endif %}