{% load stats_extras %}
<td>&nbsp;</td>
<td>
    {{ report_form.health_facility }}
    {% if report_form.health_facility.errors %}
        <br clear="left"/>
        {{ report_form.health_facility.errors }}
    {% endif %}
</td>

<td>
    {{ report_form.district }}
    {% if report_form.district.errors %}
        <br clear="left"/>
        {{ report_form.district.errors }}
    {% endif %}
</td>

<td></td>

<td>
message should be editable <br/>
    {{ report_form.message }}
</td>

<td>
	{{ report_form.action }}
</td>

<td>
    {{ report_form.comments }}
    {% if report_form.comments.errors %}
        <br clear="left"/>
        {{ report_form.comments.errors }}
    {% endif %}
</td>

<td>
	--responses--
</td>

<td class="button_col">
    <div class="buttons">
        <a href="javascript:void(0)"
           onclick="$(this).parents('tr').load('../anonymousreports/{{ anonymous_report.pk }}/show/')">
            <img src="{{ MEDIA_URL }}rapidsms/icons/silk/decline.png"/>
        </a>
        <a href="javascript:void(0)"
           onclick="submitForm(this, '../anonymousreports/{{ anonymous_report.pk }}/edit/', $(this).parents('tr'))">
            <img src="{{ MEDIA_URL }}rapidsms/icons/silk/accept.png"/>
        </a>
    </div>
</td>