{% extends 'generic/partials/partial_row.html' %}
{% block content %}
    {% block remaining_row_content %}
    <td>
        {{ object.health_facility }}
    </td>
    <td>
        {{ object.district }}
    </td>
    <td>
        {{ object.date }}
    </td>
    <td>
    {{ object.message.text }}
    </td>
    <td>
		{{ object.action }}
	</td>
    <td>
    	{% if object.comments %}
        <span style="font-size:0.9em; color:green;">{{ object.comments }}</span>
        {% else %}
        <span style="font-size:0.7em; color:blue;">There are no comments</span>
        {% endif %}
    </td>
    <td>
    <ul>
        {% for resp in object.message.responses.values %}
    	<li>&lt;&lt; {{ resp.text }}</li>
    	{% endfor %}
    </ul>
    </td>
    <td class="button_col">
        <div class="buttons">
            <a href="javascript:void(0)" onClick="deleteAnonymousReport(this, {{ object.pk }}, 'a report on {{ object.health_facility }}', '{% url mtrack.views.anonymous_reports.delete_report object.pk %}')">
                <img src="{{ MEDIA_URL }}rapidsms/icons/silk/delete.png"/>
            </a>
            <a href="javascript:void(0)" onclick="editAnonymousReport(this, {{ object.pk }})">
                <img src="{{ MEDIA_URL }}poll/icons/silk/pencil.png"/>
            </a>
        </div>
    </td>
    {% endblock %}
{% endblock %}