{% extends 'generic/partials/partial_row.html' %}
{% block content %}
    {% block remaining_row_content %}
    <td>
        {% if object.health_facility %}
            <span style="font-size: 0.8em;">{{ object.health_facility }}</span>
        {% else %}
            <span style="font-size:0.7em;">missing</span>
        {% endif %}
    </td>
    <td>
        {% if object.district %}
            <span style="font-size: 0.8em;">{{ object.district }}</span>
        {% else %}
        <span style="font-size:0.7em;">missing</span>
        {% endif %}
    </td>
    <td>
        {{ object.date }}
    </td>
    <td width="20%">
        <span style="font-size:0.8em;">
        {{ object.message.text }}
        </span>
    </td>
    <td>
		{{ object.get_action_display }}
	</td>
    <td>
    	{% if object.comments %}
        <span style="font-size:0.9em; color:green;">{{ object.comments }}</span>
        {% else %}
        <span style="font-size:0.7em; color:blue;">There are no comments</span>
        {% endif %}
    </td>
    <td>
    <ul>
        {% for resp in object.message.responses.values %}
    	<li>&lt;&lt; {{ resp.text|truncatewords:10 }}</li>
    	{% endfor %}
    </ul>
    </td>
    <td class="button_col">
        <div class="buttons">
            <a href="javascript:void(0)" onClick="deleteAnonymousReport(this, {{ object.pk }}, 'a report on {{ object.health_facility }}', '{% url mtrack.views.anonymous_reports.delete_report object.pk %}')">
                <img src="{{ MEDIA_URL }}rapidsms/icons/silk/delete.png"/>
            </a>
            <a href="javascript:void(0)" onclick="editAnonymousReport(this, {{ object.pk }})">
                <img src="{{ MEDIA_URL }}poll/icons/silk/pencil.png"/>
            </a>
        </div>
    </td>

    {% endblock %}
{% endblock %}