{% extends 'generic/partials/partial_row.html' %}
{% block content %}
    {% block remaining_row_content %}
    <td>
        {% if object.health_facility %}
            <span style="font-size: 0.8em;">{{ object.health_facility }}</span>
        {% else %}
            <span style="font-size:0.8em;">missing</span>
        {% endif %}
    </td>
    <td>
        {% if object.district %}
            <span style="font-size: 0.8em;">{{ object.district }}</span>
        {% else %}
        <span style="font-size:0.8em;">missing</span>
        {% endif %}
    </td>
    <td width="60px;">
        <span style="font-size: 0.8em;">{{ object.date|date }}</span>
    </td>
    <td>
        <span style="font-size:0.8em;">
            <ul>
                {% for msg in object.messages.all.distinct %}
                <li>
                &gt;&gt;
                {% if msg.text|length >= 40 %}
                	{{ msg.text|slice:":40" }}...
                {% else %}
                	{{ msg.text }}
                {% endif %}
                </li>
                {% endfor %}
            </ul>

        </span>
    </td>
    <td style="font-size:10px;">
    	{{ object.topic }}
    </td>
    <td style="font-size:10px;">
		{{ object.get_action_display }}
	</td>
	<td style="font-size:10px;">
		{{ object.action_center }}
	</td>
    <td>
    	{% if object.comments %}
        <span style="font-size:0.9em; color:green;">{{ object.comments }}</span>
        {% else %}
        <span style="font-size:0.8em; color:blue;">No comments</span>
        {% endif %}
    </td>
    <td>
          <ul>
                {% for msg in object.messages.all %}
                    {% for resp in msg.responses.all %}
                    <li>
                    <span style="font-size:0.8em;">
                        &lt;&lt;{{ resp.text|slice:":25" }}...
                    </span>
                    </li>
                    {% endfor %}
                {% endfor %}
            </ul>
    </td>
    <td class="button_col" id="id_{{ object.pk }}">
        <div class="buttons">
        	{% if perms.mtrack.delete_anonymousreport %}
            <a href="javascript:void(0)" title="Delete" onClick="deleteAnonymousReport(this, {{ object.pk }}, 'a report on {{ object.health_facility }}', '{% url mtrack.views.anonymous_reports.delete_report object.pk %}')">
                <img src="{{ MEDIA_URL }}rapidsms/icons/silk/delete.png"/>
            </a>
            {% endif %}
            {% if perms.mtrack.change_anonymousreport %}
            <!--<a href="javascript:void(0)" rel="facebox" onclick="editAnonymousReport(this, {{ object.pk }})">
                <img src="{{ MEDIA_URL }}poll/icons/silk/pencil.png"/>
            </a>-->
            <a href="javascript:void(0)" onclick="edit_elem(this)" id="{{ object.pk }}" title="Edit">
            	<img src="{{ MEDIA_URL }}poll/icons/silk/pencil.png"/>
            </a>
            <a href="javascript:void(0)" onclick="detail_elem(this)" id="x_{{ object.pk }}" title="Details">
            	<img src="{{ MEDIA_URL }}mtrack/images/info.png">
            </a>
            {% endif %}
        </div>
    </td>

    {% endblock %}
{% endblock %}