<table class="results">
<tr class="row_reg">
	<td><a href="#">67% of Health Facilities</a> did not submit a report the prior week in your district</td>
	<td>
	   <select>
	       <option selected="true">open</option>
	       <option>claim</option>
	       <option>resolve</option>
	       <option>escalate</option>
	   </select>
	</td>
</tr>
<tr class="row_alt">
	<td><a href="#">1 unconfirmed case of Ebola</a> reported in your district</td>
	<td>
       <select>
           <option selected="true">open</option>
           <option>claim</option>
           <option>resolve</option>
           <option>escalate</option>
       </select>	
	</td>
</tr>
<tr class="row_reg">
	<td><a href="#">6 Facilities</a> in your district are below min-levels for ACTs</td>
	<td>
      <select>
           <option selected="true">open</option>
           <option>claim</option>
           <option>resolve</option>
           <option>escalate</option>
       </select>
	</td>
</tr>
<tr class="row_alt">
	<td><a href="#">1 Facility</a> in your district reported a stock-out for ACTs</td>
	<td>
       <select>
           <option selected="true">open</option>
           <option>claim</option>
           <option>resolve</option>
           <option>escalate</option>
       </select>	
	</td>
</tr>
</table>