{% extends 'generic/partials/partial_header.html' %}
{% block secondrow %}
<tr>
	<td colspan="10">
		<!-- <div id="anon-modal" class="modal hide fade">
			<div class="model-header">
				<a href="#" class="close">&times;</a>
				<h3>Edit Anonymous Report</h3>
			</div>
			<div class="modal-body" id="modal-body">
			</div>
			<div class="modal-footer">
			</div>
		</div> -->
		<div id="popupContact">
        	<a id="popupContactClose" onclick="disablePopup()">x</a>
        	<h3 id="popup_heading">Edit Anonymous Report</h3>
        	<p id="contactArea">
        	</p>
    	</div>
    	<div id="backgroundPopup"></div>
	</td>
</tr>
{% endblock %}