{% extends 'generic/partials/partial_row.html' %}
{% block remaining_row_content %}
{% load stats_extras %}
    <td>{{ object.message.connection.contact.healthproviderbase.healthprovider.facility.name }}</td>
    <td>{{ object.message.connection.contact.name }}</td>
    <td>{{ object.raw }}
        <ul>
        {% for v in object|get_submission_values %}
            <li>
                {{ v.attribute.description }}: {{ v.value_int }}
            </li>
        {% endfor %}
        </ul>    
    </td>
    <td>{{ object.created|date:"m/j/y G:i:s" }}</td>
    <td>
        <div class="buttons">
            <a title="Approve" class="approve" onclick="$(this).hide()">
                <img src="{{ MEDIA_URL }}rapidsms/icons/silk/accept.png" alt=""/>
            </a>
            <a href="/xforms/submissions/{{ object.pk }}/edit/">
                <img src="{{ MEDIA_URL }}rapidsms_xforms/icons/silk/pencil.png" alt=""/> Edit
            </a>
        </div>
    </td>
{% endblock %}
