{% extends 'generic/partials/partial_row.html' %}
{% block remaining_row_content %}
{% load stats_extras %}
    <td>{{ object.message.connection.contact.healthproviderbase.healthprovider.facility.name }}
    {{ object.message.connection.contact.healthproviderbase.healthprovider.facility.type.name }} 
    </td>
    <td>{{ object.message.connection.contact.name }}</td>
    <td>{{ object.raw }}
        <ul>
        {% for v in object|get_submission_values %}
            <li>
                {{ v.attribute.description }}: {{ v.value_int }}
            </li>
        {% endfor %}
        </ul>    
    </td>
    <td>{{ object.created|date:"m/j/y G:i:s" }}</td>
    <td>
    	{% if object.has_errors == 1 %}
    		{{ "Rejected" }}
    	{% else %}
    		{% if object.approved == 1 %}
    			{{ "Approved" }}
    		{% else %}
    			{{ "Unapproved" }}
    		{% endif %}
    	{% endif %}
    </td>
    <td>
        <div class="buttons">
        	{% if perms.rapidsms_xforms.change_xformsubmission %}
            <a href="/xforms/submissions/{{ object.pk }}/edit/">
                <img src="{{ MEDIA_URL }}rapidsms_xforms/icons/silk/pencil.png" alt=""/> Edit
            </a>
            {% endif %}
        </div>
    </td>
{% endblock %}
